$primary: #1d7ffa;
$sidebar-bg: #f5f7fa;
$chip-success: #1ba39b;
$chip-danger: #ff6b6b;
$chip-warning: #f6a700;
$border: #e5e9f2;
$gray-50: #fafbfc;
$gray-600: #8a94a6;
$primary-100: #f5f7fa;
$primary-200: #b1c0d8;
$primary-300: #6D8AB6;
$primary-600: #2d3047;
$Neutral-500 : #666;
$red-500:#D41C1C;
