//字體
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

//顏色
$raphael-green-300: #DFECC5;
$raphael-green-400: #74bc1f;
$raphael-green-500: #65a31b;

$raphael-cyan-300: #b1c0d8;
$raphael-cyan-400: #1fbcb3;
$raphael-cyan-500: #1ba39b;

$raphael-brown-400: #bc581f;
$raphael-brown-500: #a34c1b;

$raphael-orange-200: #fef1e2;
$raphael-orange-400: #feac4a;
$raphael-orange-500: #e59b43;

$raphael-purple-200: #65558f;
$raphael-purple-500: #301675;

$raphael-red-100: #FFF5F5;
$raphael-red-300: #ec4f4f;
$raphael-red-500: #d41c1c;

$raphael-gray-100: #F6F6F6;
$raphael-gray-200: #eee;
$raphael-gray-300: #ccc;
$raphael-gray-400: #b3b3b3;
$raphael-gray-500: #666;

$raphael-white: #ffffff;
$raphael-black: #1e1e1e;